In [7]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import pyspark.sql.types as t

In [8]:
import findspark
findspark.init()

In [9]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [10]:
warehouse_location = 'C:/warehouse_location/'

spark = (
    SparkSession
    .builder
    .config("spark.driver.memory", '8g')
    .config("spark.sql.warehouse.dir", warehouse_location)
    .enableHiveSupport()
    .getOrCreate()
)

In [11]:
df = spark.range(10)
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [12]:
list = (1,"nome", 2,"telefone")

In [13]:
print(list)

(1, 'nome', 2, 'telefone')

In [14]:
df = spark.createDataFrame([('Pedro', 20),('Rodrigo', 30),('Carlos', 40)],["nome","idade"])

In [15]:
df.show()

+-------+-----+
|   nome|idade|
+-------+-----+
|  Pedro|   20|
|Rodrigo|   30|
| Carlos|   40|
+-------+-----+

In [16]:
data_path = ("/C:/Users/rodri/Desktop/data_science/desafio_final_modulo_2/")

In [17]:
df_desafio_final = spark.read.csv("/C:/Users/rodri/Desktop/data_science/desafio_final_modulo_2/all_stocks_5yr.csv", header = True, sep =',')

In [18]:
df_desafio_final.limit(10).toPandas()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51   14.1  14.27   8126000  AAL
3  2013-02-13   14.3  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
5  2013-02-15  13.93  14.61  13.93   14.5  15628000  AAL
6  2013-02-19  14.33  14.56  14.08  14.26  11354400  AAL
7  2013-02-20  14.17  14.26  13.15  13.33  14725200  AAL
8  2013-02-21  13.62  13.95   12.9  13.37  11922100  AAL
9  2013-02-22  13.57   13.6  13.21  13.57   6071400  AAL

In [19]:
df_desafio_final.count()

619040

In [20]:
df_desafio_final.filter(col("Name") == "AAPL").count()

1259

In [21]:
df_desafio_final.agg(countDistinct("Name").alias("diferent_names"),).show()

+--------------+
|diferent_names|
+--------------+
|           505|
+--------------+

In [22]:
df_questao_5 = df_desafio_final.filter(col("name") == "AAPL")

In [23]:
df_questao_5.orderBy(col("high").desc()).show()

+----------+------+-------+-----+-----+---------+----+
|      date|  open|   high|  low|close|   volume|Name|
+----------+------+-------+-----+-----+---------+----+
|2016-06-09|  98.5|  99.99|98.46|99.65| 26601354|AAPL|
|2014-10-20|98.315|  99.96|98.22|99.76| 77517279|AAPL|
|2016-06-07| 99.25|  99.87|98.96|99.03| 22409450|AAPL|
|2016-05-25| 98.67|  99.74|98.11|99.62| 38642108|AAPL|
|2016-06-08| 99.02|  99.56|98.68|98.94| 20848131|AAPL|
|2016-06-01| 99.02|  99.54|98.33|98.46| 29173285|AAPL|
|2014-07-29| 99.33|  99.44|98.25|98.38| 43143095|AAPL|
|2014-09-05|  98.8|  99.39|98.31|98.97| 58457035|AAPL|
|2014-08-18| 98.49|  99.37|97.98|99.16| 47572413|AAPL|
|2016-06-10| 98.53|99.3457|98.48|98.83| 31712936|AAPL|
|2014-09-08|  99.3|  99.31|98.05|98.36| 46356742|AAPL|
|2016-07-22| 99.26|   99.3|98.31|98.66| 28313669|AAPL|
|2016-07-15| 98.92|   99.3| 98.5|98.78| 30136990|AAPL|
|2014-07-28| 97.82|  99.24|97.55|99.02| 55317689|AAPL|
|2014-10-15| 97.97|  99.15|95.18|97.54|100933600|AAPL|
|2016-06-13| 98.69|  99.12| 97.1|97.34| 38020494|AAPL|
|2016-01-08| 98.55|  99.11|96.76|96.96| 70798016|AAPL|
|2016-01-11| 98.97|  99.06|97.34|98.53| 49739377|AAPL|
|2014-10-17|  97.5|   99.0|96.81|97.67| 68179688|AAPL|
|2016-07-14| 97.39|  98.99|97.32|98.79| 38918997|AAPL|
+----------+------+-------+-----+-----+---------+----+
only showing top 20 rows

In [94]:
df_questao_5.agg(max(col("high").cast("float"))).toPandas()

   max(CAST(high AS FLOAT))
0                180.100006

In [93]:
df_questao_5.orderBy(col("high").desc()).show()

+----------+------+-------+-----+-----+---------+----+
|      date|  open|   high|  low|close|   volume|Name|
+----------+------+-------+-----+-----+---------+----+
|2016-06-09|  98.5|  99.99|98.46|99.65| 26601354|AAPL|
|2014-10-20|98.315|  99.96|98.22|99.76| 77517279|AAPL|
|2016-06-07| 99.25|  99.87|98.96|99.03| 22409450|AAPL|
|2016-05-25| 98.67|  99.74|98.11|99.62| 38642108|AAPL|
|2016-06-08| 99.02|  99.56|98.68|98.94| 20848131|AAPL|
|2016-06-01| 99.02|  99.54|98.33|98.46| 29173285|AAPL|
|2014-07-29| 99.33|  99.44|98.25|98.38| 43143095|AAPL|
|2014-09-05|  98.8|  99.39|98.31|98.97| 58457035|AAPL|
|2014-08-18| 98.49|  99.37|97.98|99.16| 47572413|AAPL|
|2016-06-10| 98.53|99.3457|98.48|98.83| 31712936|AAPL|
|2014-09-08|  99.3|  99.31|98.05|98.36| 46356742|AAPL|
|2016-07-22| 99.26|   99.3|98.31|98.66| 28313669|AAPL|
|2016-07-15| 98.92|   99.3| 98.5|98.78| 30136990|AAPL|
|2014-07-28| 97.82|  99.24|97.55|99.02| 55317689|AAPL|
|2014-10-15| 97.97|  99.15|95.18|97.54|100933600|AAPL|
|2016-06-13| 98.69|  99.12| 97.1|97.34| 38020494|AAPL|
|2016-01-08| 98.55|  99.11|96.76|96.96| 70798016|AAPL|
|2016-01-11| 98.97|  99.06|97.34|98.53| 49739377|AAPL|
|2014-10-17|  97.5|   99.0|96.81|97.67| 68179688|AAPL|
|2016-07-14| 97.39|  98.99|97.32|98.79| 38918997|AAPL|
+----------+------+-------+-----+-----+---------+----+
only showing top 20 rows

In [25]:
df_desafio_final.orderBy(col("volume").desc()).show()

+----------+------+------+------+------+-------+-----+
|      date|  open|  high|   low| close| volume| Name|
+----------+------+------+------+------+-------+-----+
|2015-03-16|44.785|45.335| 44.69|45.295| 999994|  GPN|
|2013-09-26| 23.47| 23.63| 23.26| 23.42| 999993|  CBG|
|2017-06-28|176.44|181.25|176.44|179.73| 999984|  AYI|
|2013-06-13|  22.1| 22.54| 21.98| 22.49|9999678| SYMC|
|2015-07-30| 31.12| 31.78| 31.12| 31.65|9999678|  EXC|
|2017-09-08| 79.74|79.875| 77.73| 78.88|9999593|  WMT|
|2016-09-20|  84.0| 84.18| 83.11| 83.19| 999958| CTXS|
|2014-10-07| 48.15|48.785|48.073| 48.27| 999943|  SCG|
|2014-05-28| 25.86|  26.0| 25.71| 25.76| 999941|  LUK|
|2015-03-17| 56.89| 56.89| 56.24| 56.47|9999391|  MRK|
|2017-09-08|185.83|188.08|185.52|186.76| 999938|  AVB|
|2014-12-01|111.36|112.75|110.91|112.11| 999938|  VNO|
|2014-06-05| 244.7|249.59| 244.7|249.31|  99993|  MTD|
|2014-06-16| 62.02|62.555| 61.65| 62.25| 999927| NTRS|
|2017-07-20|147.78|148.32|146.32|146.66| 999916|  SWK|
|2017-09-08| 949.7| 950.7|940.01|941.41| 999916|GOOGL|
|2017-05-11|104.27|104.44|103.37|104.36| 999914|  COL|
|2014-12-10| 71.95|  72.0| 70.43| 70.56| 999911| DISH|
|2014-11-07| 79.67| 79.71| 77.81| 78.93| 999904| LRCX|
|2017-03-10|156.64|157.57| 156.2|157.56| 999903|  STZ|
+----------+------+------+------+------+-------+-----+
only showing top 20 rows

In [26]:
spark.sql("show databases")

DataFrame[namespace: string]

In [27]:
spark.sql("use desafio")

DataFrame[]

In [28]:
spark.sql("show tables")

DataFrame[database: string, tableName: string, isTemporary: boolean]

In [29]:
df_questao_AAPL = df_desafio_final.filter(col("Name") == "AAPL").show()

+----------+-------+-------+-------+-------+---------+----+
|      date|   open|   high|    low|  close|   volume|Name|
+----------+-------+-------+-------+-------+---------+----+
|2013-02-08|67.7142|68.4014|66.8928|67.8542|158168416|AAPL|
|2013-02-11|68.0714|69.2771|67.6071|68.5614|129029425|AAPL|
|2013-02-12|68.5014|68.9114|66.8205|66.8428|151829363|AAPL|
|2013-02-13|66.7442|67.6628|66.1742|66.7156|118721995|AAPL|
|2013-02-14|66.3599|67.3771|66.2885|66.6556| 88809154|AAPL|
|2013-02-15|66.9785|67.1656|65.7028|65.7371| 97924631|AAPL|
|2013-02-19|65.8714|66.1042|64.8356|65.7128|108854046|AAPL|
|2013-02-20|65.3842|65.3842|64.1142|64.1214|118891367|AAPL|
|2013-02-21|63.7142|64.1671|63.2599|63.7228|111596821|AAPL|
|2013-02-22|64.1785|64.5142|63.7999|64.4014| 82583823|AAPL|
|2013-02-25|64.8356|65.0171|63.2242|63.2571| 92899597|AAPL|
|2013-02-26|63.4028|64.5056|62.5228|64.1385|125096657|AAPL|
|2013-02-27|64.0614|64.6342|62.9499|63.5099|146674682|AAPL|
|2013-02-28|63.4357|63.9814|63.0571|63.0571| 80532382|AAPL|
|2013-03-01|62.5714|62.5971|61.4257|61.4957|137899041|AAPL|
|2013-03-04|61.1142|61.1714|59.8571|60.0071|145406366|AAPL|
|2013-03-05|60.2114|62.1699|60.1071|61.5919|159298020|AAPL|
|2013-03-06|62.0728|62.1785|60.6328|60.8088|114903180|AAPL|
|2013-03-07|60.6428|61.7157|60.1514|61.5117|116992841|AAPL|
|2013-03-08|61.3999|62.2042|61.2299|61.6742| 97854442|AAPL|
+----------+-------+-------+-------+-------+---------+----+
only showing top 20 rows

In [61]:
df_questao = df_desafio_final.select("open","close", expr("close - open").alias("Diferenca"))

In [62]:
df_questao.show()

+-----+-----+--------------------+
| open|close|           Diferenca|
+-----+-----+--------------------+
|15.07|14.75| -0.3200000000000003|
|14.89|14.46| -0.4299999999999997|
|14.45|14.27|-0.17999999999999972|
| 14.3|14.66| 0.35999999999999943|
|14.94|13.99| -0.9499999999999993|
|13.93| 14.5|  0.5700000000000003|
|14.33|14.26|-0.07000000000000028|
|14.17|13.33| -0.8399999999999999|
|13.62|13.37|               -0.25|
|13.57|13.57|                 0.0|
| 13.6|13.02| -0.5800000000000001|
|13.14|13.26| 0.11999999999999922|
|13.28|13.41| 0.13000000000000078|
|13.49|13.43| -0.0600000000000005|
|13.37|13.61|  0.2400000000000002|
| 13.5| 13.9| 0.40000000000000036|
|14.01|14.05|0.040000000000000924|
|14.52|14.57| 0.05000000000000071|
| 14.7|14.82|   0.120000000000001|
|14.99|14.92|-0.07000000000000028|
+-----+-----+--------------------+
only showing top 20 rows

In [63]:
df_questao_4 = df_questao.select(col("Diferenca").cast('Float'))

In [112]:
df_questao_4.show()
df_questao_4.count()

+---------+
|Diferenca|
+---------+
|    -0.32|
|    -0.43|
|    -0.18|
|     0.36|
|    -0.95|
|     0.57|
|    -0.07|
|    -0.84|
|    -0.25|
|      0.0|
|    -0.58|
|     0.12|
|     0.13|
|    -0.06|
|     0.24|
|      0.4|
|     0.04|
|     0.05|
|     0.12|
|    -0.07|
+---------+
only showing top 20 rows

619040

In [65]:
df_questao_4_maior = df_questao_4.select("Diferenca").where("Diferenca > 0")

In [66]:
df_questao_4_maior.count()

318970

In [82]:
df_questao_8 = df_desafio_final.groupBy("Name").agg(sum("volume"))

In [89]:
df_questao_8.orderBy(col("sum(volume)").desc()).show()

+-----+----------------+
| Name|     sum(volume)|
+-----+----------------+
|  BAC|1.17884953591E11|
| AAPL| 6.8046305767E10|
|   GE| 5.3023644686E10|
|    F| 4.3388129992E10|
|   FB| 4.3258314899E10|
| MSFT| 4.2641653597E10|
|  AMD| 4.0941468586E10|
|   MU| 3.8082749687E10|
| INTC| 3.6922332801E10|
| CSCO| 3.6075826186E10|
|  PFE| 3.5527608853E10|
|    T| 3.1850598073E10|
|  CHK| 3.1421758366E10|
|CMCSA| 3.0630585625E10|
|  FCX| 2.9648463667E10|
|    C| 2.6044628798E10|
|  WFC| 2.3305954532E10|
|  JPM| 2.0885592857E10|
|   RF|   2.06456505E10|
| NFLX| 2.0405882026E10|
+-----+----------------+
only showing top 20 rows

In [156]:
df_questao_10 = df_desafio_final.select("name","high","close", expr("high - close").alias("diferenca"))

In [157]:
df_questao_10.show()

+----+-----+-----+-------------------+
|name| high|close|          diferenca|
+----+-----+-----+-------------------+
| AAL|15.12|14.75| 0.3699999999999992|
| AAL|15.01|14.46| 0.5499999999999989|
| AAL|14.51|14.27| 0.2400000000000002|
| AAL|14.94|14.66|0.27999999999999936|
| AAL|14.96|13.99| 0.9700000000000006|
| AAL|14.61| 14.5|0.10999999999999943|
| AAL|14.56|14.26| 0.3000000000000007|
| AAL|14.26|13.33| 0.9299999999999997|
| AAL|13.95|13.37| 0.5800000000000001|
| AAL| 13.6|13.57|0.02999999999999936|
| AAL|13.76|13.02| 0.7400000000000002|
| AAL|13.42|13.26|0.16000000000000014|
| AAL|13.62|13.41|0.20999999999999908|
| AAL|13.63|13.43|0.20000000000000107|
| AAL|13.95|13.61|0.33999999999999986|
| AAL|14.07| 13.9|0.16999999999999993|
| AAL|14.05|14.05|                0.0|
| AAL|14.68|14.57|0.10999999999999943|
| AAL|14.93|14.82|0.10999999999999943|
| AAL| 15.2|14.92|0.27999999999999936|
+----+-----+-----+-------------------+
only showing top 20 rows

In [228]:
df_questao_10.filter(col("diferenca") == 0.0).count()

7420

In [236]:
df_questao_11 = df_desafio_final.select("date","Name","open", "close", expr("close - open").alias("resposta"))

In [237]:
df_questao_conta = df_questao_10.filter(col("diferenca") == 0).show()

+----+------+------+---------+
|name|  high| close|diferenca|
+----+------+------+---------+
| AAL| 14.05| 14.05|      0.0|
| AAL| 17.47| 17.47|      0.0|
| AAL| 26.23| 26.23|      0.0|
| AAL| 25.25| 25.25|      0.0|
| AAL| 30.02| 30.02|      0.0|
| AAL| 38.25| 38.25|      0.0|
| AAL| 44.55| 44.55|      0.0|
| AAL| 41.51| 41.51|      0.0|
| AAL| 42.15| 42.15|      0.0|
| AAL| 28.31| 28.31|      0.0|
| AAL| 46.44| 46.44|      0.0|
|AAPL| 97.24| 97.24|      0.0|
|AAPL|100.75|100.75|      0.0|
|AAPL|106.74|106.74|      0.0|
|AAPL|112.65|112.65|      0.0|
|AAPL| 133.0| 133.0|      0.0|
|AAPL|124.95|124.95|      0.0|
|AAPL|127.62|127.62|      0.0|
|AAPL|128.95|128.95|      0.0|
|AAPL|129.62|129.62|      0.0|
+----+------+------+---------+
only showing top 20 rows

In [238]:
df_questao_11.filter(col("Name") == "AAPL").orderBy(col("resposta").desc()).show()

+----------+----+-------+-------+------------------+
|      date|Name|   open|  close|          resposta|
+----------+----+-------+-------+------------------+
|2015-08-24|AAPL|  94.87| 103.12|              8.25|
|2018-02-06|AAPL| 154.83| 163.03| 8.199999999999989|
|2017-05-08|AAPL| 149.03| 153.01|3.9799999999999898|
|2014-12-09|AAPL| 110.19| 114.12| 3.930000000000007|
|2017-10-27|AAPL| 159.29| 163.05|3.7600000000000193|
|2015-12-04|AAPL| 115.29| 119.03| 3.739999999999995|
|2017-12-11|AAPL|  169.2| 172.67| 3.469999999999999|
|2016-11-16|AAPL|  106.7| 109.99| 3.289999999999992|
|2015-07-22|AAPL| 121.99| 125.22| 3.230000000000004|
|2015-08-10|AAPL| 116.53| 119.72|3.1899999999999977|
|2014-04-28|AAPL|81.8285|84.8699| 3.041399999999996|
|2016-09-14|AAPL| 108.73| 111.77| 3.039999999999992|
|2014-09-10|AAPL|  98.01|  101.0| 2.989999999999995|
|2015-02-23|AAPL| 130.02|  133.0|2.9799999999999898|
|2018-01-17|AAPL| 176.15|  179.1|2.9499999999999886|
|2017-03-28|AAPL| 140.91|  143.8| 2.890000000000015|
|2016-03-01|AAPL|  97.65| 100.53|2.8799999999999955|
|2015-04-06|AAPL| 124.47| 127.35|2.8799999999999955|
|2015-05-01|AAPL|  126.1| 128.95|2.8499999999999943|
|2017-10-30|AAPL| 163.89| 166.72|2.8300000000000125|
+----------+----+-------+-------+------------------+
only showing top 20 rows

In [239]:
df_questao_12 = df_desafio_final.filter(col("name") == "AAPL")

In [241]:
df_questao_12_agregado = df_questao_12.groupBy("date").agg(sum("volume").alias("total_volume"))

In [242]:
df_questao_12_agregado.show()

+----------+------------+
|      date|total_volume|
+----------+------------+
|2013-03-14| 7.5834906E7|
|2014-05-27| 8.7216605E7|
|2015-05-01| 5.8512638E7|
|2016-08-17| 2.5355976E7|
|2017-12-05| 2.7350154E7|
|2014-07-14| 4.2810155E7|
|2014-12-11| 4.1471578E7|
|2015-02-09| 3.8889797E7|
|2015-02-27| 6.2014847E7|
|2016-04-22| 3.3683121E7|
|2016-08-08|  2.803722E7|
|2017-02-24| 2.1776585E7|
|2017-05-11| 2.7255058E7|
|2017-10-20| 2.3974146E7|
|2017-12-22| 1.6349444E7|
|2013-08-20| 8.9531771E7|
|2015-02-26| 9.1287529E7|
|2015-11-20| 3.4287096E7|
|2016-07-06|  3.094909E7|
|2013-11-08| 6.9829543E7|
+----------+------------+
only showing top 20 rows

In [245]:
df_questao_12_agregado.agg(mean("total_volume").alias("media")).show()

+-------------------+
|              media|
+-------------------+
|5.404789973550437E7|
+-------------------+

In [259]:
df_questao_14 = df_desafio_final.groupBy("Name").agg(sum("volume").alias("total"))

In [260]:
df_questao_14.show()

+----+-------------+
|Name|        total|
+----+-------------+
|ALXN|2.218905439E9|
| GIS|4.199205873E9|
|   K|2.584755135E9|
| LEN|4.326392632E9|
|SPGI|1.664739625E9|
| AIV|1.509190118E9|
| AVY| 9.57891856E8|
|BF.B| 1.22941214E9|
| MMM| 2.89905181E9|
| PKI| 9.91708946E8|
| PPG|2.016504601E9|
|  RF|2.06456505E10|
| AXP|6.009726906E9|
|  CI|2.057460556E9|
| IRM|2.081611031E9|
| WEC|2.235445802E9|
|INFO|1.320831742E9|
| PFG|1.713446138E9|
|  PM|5.825918348E9|
| SNA| 5.30283843E8|
+----+-------------+
only showing top 20 rows

In [266]:
df_questao_14.orderBy("total").show()

+----+------------+
|Name|       total|
+----+------------+
|APTV| 9.2947779E7|
| BHF|1.44878392E8|
| MTD|2.14489754E8|
| AZO|3.97585127E8|
|WLTW| 4.1473459E8|
| HII|4.18791148E8|
| DXC|4.24529395E8|
|  RE|4.34037215E8|
| ESS|4.77004832E8|
| SNA|5.30283843E8|
| FRT|5.31047903E8|
|ANSS|5.52950012E8|
| IFF|5.58773791E8|
| AMG|5.68888091E8|
| COO|5.69985137E8|
|  IT|5.78515652E8|
| ROP| 5.7947094E8|
| AYI|6.08654295E8|
| FTV|6.10590073E8|
|BHGE|6.28313042E8|
+----+------------+
only showing top 20 rows

In [267]:
df_questao_15 = df_desafio_final.select("open", "high", expr("high- open").alias("resposta"))

In [268]:
df_questao_15.show()

+-----+-----+--------------------+
| open| high|            resposta|
+-----+-----+--------------------+
|15.07|15.12|0.049999999999998934|
|14.89|15.01| 0.11999999999999922|
|14.45|14.51|  0.0600000000000005|
| 14.3|14.94|  0.6399999999999988|
|14.94|14.96| 0.02000000000000135|
|13.93|14.61|  0.6799999999999997|
|14.33|14.56| 0.23000000000000043|
|14.17|14.26| 0.08999999999999986|
|13.62|13.95| 0.33000000000000007|
|13.57| 13.6| 0.02999999999999936|
| 13.6|13.76| 0.16000000000000014|
|13.14|13.42| 0.27999999999999936|
|13.28|13.62| 0.33999999999999986|
|13.49|13.63| 0.14000000000000057|
|13.37|13.95|  0.5800000000000001|
| 13.5|14.07|  0.5700000000000003|
|14.01|14.05|0.040000000000000924|
|14.52|14.68| 0.16000000000000014|
| 14.7|14.93| 0.23000000000000043|
|14.99| 15.2| 0.20999999999999908|
+-----+-----+--------------------+
only showing top 20 rows

In [269]:
df_questao_15.filter(col("resposta") == 0.0).count()

22346