In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [4]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import pyspark.sql.types as t

In [5]:
spark = (
    SparkSession
    .builder
    .config("spark.driver.memory", '8g')
    .enableHiveSupport()
    .getOrCreate()
)

In [6]:
df_desafio_final_2 = spark.read.csv("C:/Users/rodri/Desktop/data_science/desafio_final_modulo_2/stroke_data.csv", inferSchema = True, header = True, sep =',')

In [20]:
df_desafio_final_2.toPandas()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,29502,Female,18.0,0,0,No,Private,Urban,94.19,12.12,smokes,1
1,42473,Male,58.0,1,0,Yes,Private,Rural,154.24,33.70,None,0
2,30168,Female,36.0,0,0,Yes,Govt_job,Urban,72.63,24.70,smokes,0
3,24300,Female,62.0,0,0,Yes,Self-employed,Rural,85.52,31.20,formerly smoked,0
4,38829,Female,82.0,0,0,Yes,Private,Rural,59.32,33.20,smokes,1
...,...,...,...,...,...,...,...,...,...,...,...,...
67130,44210,Male,18.0,0,0,No,Private,Urban,109.06,22.10,smokes,1
67131,29930,Female,29.0,0,0,Yes,Private,Urban,73.02,32.10,None,0
67132,67039,Female,24.0,0,0,No,Private,Urban,141.18,23.30,smokes,1
67133,22533,Female,77.0,0,0,Yes,Self-employed,Urban,199.71,36.20,formerly smoked,1
67134,20054,Male,76.0,0,1,Yes,Self-employed,Urban,202.96,31.80,formerly smoked,1

In [9]:
#questÃ£o 1
df_desafio_final_2.count()

67135

In [10]:
#questÃ£o 2
df_desafio_final_2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: double (nullable = true)
 |-- hypertension: integer (nullable = true)
 |-- heart_disease: integer (nullable = true)
 |-- ever_married: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- Residence_type: string (nullable = true)
 |-- avg_glucose_level: double (nullable = true)
 |-- bmi: double (nullable = true)
 |-- smoking_status: string (nullable = true)
 |-- stroke: integer (nullable = true)

In [11]:
#questao 3
df_desafio_final_2.filter(col("stroke") == 1).count()

40287

In [12]:
df_desafio_final_2.filter(col("stroke") == 0).count()

26848

In [12]:
#questao 4
df_questao_4 = df_desafio_final_2.filter(col("stroke") == 1)
df_questao_4.toPandas()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,29502,Female,18.0,0,0,No,Private,Urban,94.19,12.12,smokes,1
1,38829,Female,82.0,0,0,Yes,Private,Rural,59.32,33.20,smokes,1
2,40624,Female,37.0,0,0,Yes,Private,Rural,156.70,36.90,smokes,1
3,72538,Female,41.0,0,0,Yes,Govt_job,Rural,64.06,33.80,smokes,1
4,35512,Female,70.0,0,0,Yes,Self-employed,Rural,76.34,24.40,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
40282,6506,Female,40.0,0,0,Yes,Private,Rural,86.36,36.60,smokes,1
40283,44210,Male,18.0,0,0,No,Private,Urban,109.06,22.10,smokes,1
40284,67039,Female,24.0,0,0,No,Private,Urban,141.18,23.30,smokes,1
40285,22533,Female,77.0,0,0,Yes,Self-employed,Urban,199.71,36.20,formerly smoked,1
40286,20054,Male,76.0,0,1,Yes,Self-employed,Urban,202.96,31.80,formerly smoked,1

In [14]:
#questao 4
df_questao_4.filter(col("work_type")== "children").count()

520

In [15]:
df_questao_4.filter(col("work_type")== "Private").count()

23711

In [21]:
#questao 5
df_desafio_final_2.filter(col("gender") == "Male").count()

27594

In [22]:
df_desafio_final_2.filter(col("gender") == "Female").count()

39530

In [23]:
df_desafio_final_2.filter(col("gender") == "Other").count()

11

In [16]:
#filtar quem nÃ£o teve derrame
df_questao_hyper = df_desafio_final_2.filter(col("stroke") == 0)
df_questao_hyper.count()

26848

In [17]:
df_questao_hyper.filter(col("hypertension")== 1).count()

2200

In [18]:
df_questao_hyper.filter(col("hypertension")== 0).count()

24648

In [9]:
#questao 6
df_questao_6 = df_desafio_final_2.filter(col("stroke") == 1)
df_questao_6.filter(col("hypertension") == 1).count()

8817

In [10]:
df_questao_6.filter(col("hypertension") == 0).count()

31470

In [25]:
#filtrando do dataset completo, hypertenso
df_desafio_final_2.filter(col("hypertension") == 1).count()

31470

In [11]:
#filtrando dataset completo, hypertenso
df_desafio_final_2.filter(col("hypertension") == 0).count()

56118

In [13]:
df_questao_6.count()

40287

In [26]:
#questao 7
df_questao_7 = df_questao_6.groupBy("age").count()

In [27]:
df_questao_7.orderBy("count", ascending = False).show()

+----+-----+
| age|count|
+----+-----+
|79.0| 2916|
|78.0| 2279|
|80.0| 1858|
|81.0| 1738|
|82.0| 1427|
|77.0|  994|
|74.0|  987|
|63.0|  942|
|76.0|  892|
|70.0|  881|
|66.0|  848|
|75.0|  809|
|67.0|  801|
|57.0|  775|
|73.0|  759|
|65.0|  716|
|72.0|  709|
|68.0|  688|
|69.0|  677|
|71.0|  667|
+----+-----+
only showing top 20 rows

In [28]:
#questao 8
df_questao_6.filter(col("age") > 50).count()

28938

In [29]:
#questao 9 tiveram
df_questao_6.agg(mean("avg_glucose_level")).show()

+----------------------+
|avg(avg_glucose_level)|
+----------------------+
|    119.95307046938272|
+----------------------+

In [30]:
#questao 9 nÃ£o tiveram
df_questao_9 = df_desafio_final_2.filter(col("stroke") == 0)

In [31]:
df_questao_9.agg(mean("avg_glucose_level")).show()

+----------------------+
|avg(avg_glucose_level)|
+----------------------+
|    103.60273130214506|
+----------------------+

In [32]:
#questao 10
df_questao_6.agg(mean("BMI")).show()

+-----------------+
|         avg(BMI)|
+-----------------+
|29.81679462676787|
+-----------------+

In [33]:
df_questao_9.agg(mean("BMI")).show()

+-----------------+
|         avg(BMI)|
+-----------------+
|27.85979305534047|
+-----------------+

In [34]:
#questao 11
df_questao_11 = df_desafio_final_2.withColumn("extra",rand())

In [35]:
df_questao_11.describe("extra").show()

+-------+--------------------+
|summary|               extra|
+-------+--------------------+
|  count|               67135|
|   mean| 0.49941131852003096|
| stddev| 0.28921012811095403|
|    min|1.587738534658545E-5|
|    max|  0.9999937093506991|
+-------+--------------------+